@font-face {
    font-family: 'Open Sans';
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
}
* {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    border: 0;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
.transparent {
    background: transparent !important;
    border: transparent !important;
}
.info {
    vertical-align: top;
    color: white;
    border-radius: 4px;
    border-left: 4px solid #f66;
    width: 52%;
    border: 1px solid #e3e3e3;
    margin-right: 6%;
    display: inline-block;
    padding: 22px;
    box-sizing: border-box;
    background: #f8f8f8;
    background-size: 400% 400%;
    border-left: 6px solid #f66;
    text-transform: uppercase;
    animation: Gradient 8s ease infinite;
}
.input-text {
    padding: 8px 14px;
    margin-bottom: 26px;
    box-sizing: border-box;
    width: 9%;
    border-radius: 70px;
    font-family: verdana;
    color: black;
    font-weight: 400;
    transition: all 200ms ease;
    outline: none;
    border: 1px solid #e3e3e3;
    font-size: 13px;
}
.input-text:focus {
    border: 1px solid #23D5AB;
}
.input-text::-webkit-input-placeholder {
    color: #ccc;
    font-weight: lighter;
}

.input-text::-ms-input-placeholder {
    color: #ccc;
    font-weight: lighter;
}

.input-text::-moz-placeholder {
    color: white;
}
.submit-button {
    width: 9%;
    /* margin-top: 30px; */
    margin-left: 33px;
    padding: 9px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    text-transform: uppercase;
    animation: Gradient 8s ease infinite;
    text-align: center;
    color: white;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    border-radius: 55px;
}
.name {
    font-size: 32px;
    color: black !important;
    font-weight: bold;
}
.marks {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.enrol {
    font-size: 21px;
    color: #212121;
}
.sub-list {
    color: #E91E63;
    font-weight: bold;
    font-size: 14px;
}
.fail {
    font-size: 20px !important;
    color: red !important;
}
.sub-list span {
    font-weight: bold;
    color: black;
    font-size: 15px;
}
.main-container {
    width: 100%;
    position: relative;
    /* border: 1px solid black; */
    height: auto;
    /* margin: 6px 10px; */
    box-sizing: border-box;
    background: white;
    padding: 40px;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.global-container {
    display: block;
}
.ranks-container {
    width: 40%;
    height: 100vh;
    background: #23A6D5;
}
table, td, th {
    border: 1px solid #ddd;
}
td, th {
    padding: 10px;
    text-align: center;
    font-size: 13px;
}
th {
    background-color: #23D5AB !important;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%
}
caption {
    padding: 10px;
    font-size: 20px;
}
.leaderboards {
    padding-left: 37px;
    padding-bottom: 20px;
    width: 54%;
}
.winner td {
    background-color: #E73C7E;
    color: white;
}
.graph {
    width: 40%;
    box-sizing: border-box;
    background: #f8f8f8;
    padding: 10px;
    display: inline-block;
    border: 1px solid #e3e3e3;
}
.table {
    box-shadow: 0 0px 14px 3px rgba(0, 0, 0, 0.15);
    display: table;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.row-header, .row {
    display: table-row;
    transition: background-color 0.2s ease;
}
.row:hover {
    background: rgba(200,200,200,0.1);
}
.row {
    cursor: pointer;
}
.td, .td-heading {
    padding: 16px;
    text-align: center;
    font-size: 15px;
    display: table-cell;
    border-bottom: 1px solid #ddd;
}
.row-header {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 8s ease infinite;
}
.td-heading {
    background-color: transparent;
    font-size: 16px;
    /* background: white; */
    color: white;
    padding: 18px;
}
